@import "../../../styles/colors";

.search-wrapper {
  position: relative;
  input {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 40px !important;
    background: $primaryBlue;
  }
  span {
    position: absolute;
    &.search-icon {
      transform: translate(10px, 10px);
    }
    &.filter-icon {
      transform: translate(-30px, 10px);
    }
  }
}
